.cards__like {
    width: 22px;
    height: 19px;
    display: inline-block;
    padding: 0;
    background: transparent url(../../../images/like.svg) no-repeat;
    border: none;
    align-self: center;
    background-size: 100%;
    transition: opacity 0.2s ease;
}

.cards__like:hover {
    cursor: pointer;
    opacity: 0.5;
}