.profile__comment {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__comment {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 200px;
    }
}