.popup__close-btn {
    padding: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/close.svg);
    background-size: 100%;
    right: -40px;
    top: -40px;
    border: none;
    background-color: transparent;
    transition: opacity 0.2s ease;
}

@media screen and (max-width: 700px) {
    .popup__close-btn {
        width: 26px;
        height: 26px;
        right: -5px;
    }
}